@font-face {
  font-family: 'Slab';
  src: url(../misc/ZillaSlab-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'SansSerif';
  src: url(../misc/Ubuntu-Regular.woff2) format('woff2');
}

