/* ----------- Imports from other modules ----------- */
@use './shadows';
@use './fonts';

/* -------------- Mixins for this file -------------- */
@mixin image-height ($size, $right-pad) {
  width: $size;
  height: $size;
  padding-right: $right-pad;
}

/* -------------------- Generic --------------------- */
body {
  width: 96%;
  margin: auto;
  font-family: Barlow;
  background-color: #fce4ec;
  padding: 4px;
  color: rgba(23, 8, 8, 0.81);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(11deg, 26%, 18%);
  // border-bottom: 3px solid #795548;
  margin-bottom: 10px;
  letter-spacing: -0.025em;
  width: fit-content;
}

a {
  color: #3f51b5;
  text-decoration: none;
  font-weight: bold;
  &:visited {
    color: #ad1457;
  }
}

code {
  white-space: pre-wrap;
}

span.smallcaps {
  font-variant: small-caps;
}

span.underline {
  text-decoration: underline;
}

div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

/* -------------------- Top info -------------------- */
.basic-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 540px;
    margin: 0;

    & > div, & > a {
      @extend .content-holder;
      flex-direction: column;
      background-color: hsl(340deg, 97%, 91%);
      padding: 5px 10px;
      border-radius: 8px;
      @include shadows.layered-shadow1();
      margin: 0 10px;
    }

    img {
      $size: 21px;
      // border-radius: 100%;
      height: $size;
      // width: $size;
    }
  }
}

.content-holder {
  display: flex;
  justify-content: space-evenly;
}

/* ------------------ Main content ------------------ */
.main-content {
    width: 70%;
    padding-right: 12px;
}

.summary-info {
    line-height: 1.45;
}

.contact-info, .education-info {
    margin-bottom: 35px;
}

.contact-info {
  @extend .content-holder;
  font-size: small;
  div {
    text-align: center;
  }
  padding: 10px;
  border-radius: 10px;

  img {
      height: 35px;
      // margin-right: 12px;
  }
  // The position of the items
  position: relative;
  left: -4px;
}

.education-info {
    background-color: #094183;
    background: linear-gradient(124deg, rgba(9,65,131,1) 43%, rgba(7,46,93,1) 68%, rgba(5,31,61,1) 100%);
    box-shadow: 0px 0px 3px #141631;
    @include shadows.layered-shadow1();
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 7px;
    padding: 8px;

    img {
      height: 60px;
    }

    p {
      color: hsl(212, 70%, 88%);
      strong {
        color: white;
        font-weight: bolder;
        padding-bottom: 5px;
        display: inline-block;
        font-variant-caps: petite-caps;
        font-size: 1.095em;
        letter-spacing: 0.030em;
      }
    }
}

.no-bullet {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  li {
    & > img {
      @include image-height(16px, 12px);
      filter: drop-shadow(0 2px 2px rgba(102, 102, 102, 0.45));
    }

    & > b {
        letter-spacing: 0.045em;
        text-shadow: 0px 1px 0px hsla(350.9deg, 94.3%, 13.7%, 0.47);
        font-variant-caps: small-caps;
    }
  }
}

.experience-info {
  padding: 0;

  .experience-atom {
    padding-bottom: 15px;

    .title-data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: hsl(0deg, 65%, 27%);
      box-sizing: border-box;
      padding: 5px 15px;
      border-radius: 6px;
      @include shadows.layered-shadow2();
      margin-bottom: 20px;
      color: white;
      text-shadow: 0 2px 3px #00000038;

      h3 {
        color: white;
        margin: 0;
      }
    }

    .stack-data {
      display: flex;
      justify-content: space-around;
      position: relative;
      z-index: 2;

      .stack-atom {
        background-color: hsl(256deg, 20%, 87%);
        color: black;
        border-radius: 50px;
        padding: 9px;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3098039216), 0 5px 3px -4px rgba(0, 0, 0, 0.49);
        font-variant-caps: petite-caps;
      }
    }
  }
}


/* ------------------ Side Content ------------------ */
.side-content {
  padding-left: 12px;
  line-height: 1.6;
  & ul li ul li {
    letter-spacing: -0.035em;
  }
}

.contact-image {
  display: block;
  margin: auto;
  $size: 20px;
  height: $size;
  padding: 7px;
}

